<article class="article article-{{post.post_type}} w--50" id="article-{{post.ID}}">
	{% block content %}
		<h2 class="h2"><a href="{{post.link}}">{{post.title}}</a></h2>
		<p>{{post.preview}}</p>
		{% if post.get_thumbnail %}
			<img src="{{post.thumbnail.src}}" alt="Zdjęcie postu">
		{% endif %}
	{% endblock %}
</article>
